html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #1600FF;
  margin: 50px;
}

a {
  color: #0079FF;
  font-size: 24px;
}

a:hover {
  color: #0e0194;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

.rotate {
  transform: rotate(-180deg);
}

.rotate1 {
  transform: rotate(-45deg);
}

.r1 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px 200px 200px 200px;
  text-align: left;
}

.jo {
grid-column-start: 3;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 1;
}

.sef {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.in {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.bg {
  background-color: #1600FF;
}

@media (max-width: 450px) {
  .josefin {
    margin-bottom: 400px;
    overflow: hidden;
  }
}

@media (min-width: 450px) {
  .josefin {
    margin-bottom: 300px;
  }
}

footer {
  position: fixed;
  bottom: -180px;
  width: 100%;
  z-index: -1;
}

.r2 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px 200px 200px 200px;
  margin-left: -150px;
  text-align: right;
  max-width: 300px;
}

.jo1 {
grid-column-start: 1;
grid-column-end: 1;
grid-row-start: 1;
grid-row-end: 1;
}

.sef1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.in1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

h1 {
  font-size: 75px;
  margin: 0;
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

h2 {
  font-size: 65px;
  color: white;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

h4 {
  font-size: 30px;
  color: white;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-bottom: 0;
}

h5 {
  font-size: 150px;
  color: #0e0194;
}

.header {
  display: grid;
  grid-template-columns: .25fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr .25fr;
}

p {
  color: #0079FF;
  font-size: 24px;
}

hr {
  width: 350px;
  text-align: left;
  margin-left: 0;
  color: #0079FF;
}

.box {
  width:100%;
  height:auto;
  border:1px solid #0e0194;
  background-color: #0e0194;
  color: #0079FF;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.display {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px 250px;
  grid-template-rows: auto auto auto;
  overflow: hidden;
}

.d1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 150px;
  margin-left: -125px;
}

.d2 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 150px;
  margin-top: 15px;
}

.d3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-left: -45px;
  font-size: 50px;
}

.d4 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 200px;
  margin-left: 40px;
}

.d5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
  padding-left: 50px;
  margin-top: 15px;
  font-size: 80px;
  margin-right: 100px;
  letter-spacing: 20px;
}

.d6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 100px;
  margin-left: -30px;
}

.josefin {
  display: grid;
  grid-template-columns: 2fr 2fr 125px 125px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.J {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
  color: #0e0194;
}

.S {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #0e0194;
}

.J1 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
  color: #0e0194;
}

.S1 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #0e0194;
}

.j {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 10px;
  text-align: center;
  color: #0e0194;
}

.s {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 4;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  color: #0e0194;
}
